@import "../../../styles/variables";
@import "../../../styles/mixins";

.sliderWrapper {
  position: relative;
  max-width: 1360px;
  margin: 40px auto 80px auto;

  .slider_bg {
    position: relative;

    img {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
  }

  .slider_actions {
    display: flex;

    .slider_info {
      position: absolute;
      top: 0;
      left: 0;
      padding: 40px 90px;
      max-width: 1180px;
      width: 50%;

      h1 {
        @include manrepoFont(700, calc(2vw + 1rem), 120%);
        color: $lowerHeaderTextColor;
        margin: 0;
      }

      p {
        @include manrepoFont(400, calc(1vw + 5px), 140%);
        color: $lowerHeaderTextColor;
      }
    }

    a {
      padding: 12px 24px;
      background-color: $yellow;
      color: $black;
      text-decoration: none;
      @include manrepoFont(500, 18px, 136%);

      &:hover {
        background-color: $grayBlack;
        color: $white;
      }

      &:active {
        background-color: $grayBlack;
        color: $lightGray;
      }
    }

    .slider_link {
      margin: 30px 0 0 0;
    }
  }

  .slider_controls {
    position: absolute;
    bottom: 40px;
    right: 50px;
    display: flex;
    gap: 12px;

    button {
      background-color: white;

      &:hover {
        background-color: $grayBlack;
        svg {
          path {
            stroke: $white;
          }
        }
      }

      &:active {
        svg {
          path {
            stroke: $lightGray;
          }
        }
      }
    }
  }
}

