@import "../../../styles/variables";
@import "../../../styles/mixins";

.sliderWrapper {
  position: relative;
  max-width: 1360px;
  margin: 40px auto 80px auto;
  //padding: 40px 0 80px 0;

  .slider_bg {
  }

  .slider_actions {
    display: flex;

    .slider_info {
      position: absolute;
      top: 0;
      left: 0;
      padding: 40px 90px;
      max-width: 1180px;
      width: 50%;

      h1 {
        @include manrepoFont(700, 48px, 120%);
        color: $lowerHeaderTextColor;
        margin: 0;
      }

      p {
        @include manrepoFont(400, 20px, 140%);
        color: $lowerHeaderTextColor;
      }
    }
  }

  .slider_buttons {
    padding: 0 90px;
    max-width: 1180px;
    width: 100%;
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: white;

      &:hover {
        background-color: $grayBlack;
        svg {
          path {
            stroke: $white;
          }
        }
      }

      &:active {
        svg {
          path {
            stroke: $lightGray;
          }
        }
      }
    }

    a {
      padding: 12px 24px;
      background-color: $yellow;
      color: $black;
      text-decoration: none;
      @include manrepoFont(500, 18px, 136%);

      &:hover {
        background-color: $grayBlack;
        color: $white;
      }

      &:active {
        background-color: $grayBlack;
        color: $lightGray;
      }
    }
  }

  .slider_controls {
    display: flex;
    gap: 12px;
  }
}