@import "../../styles/variables";
@import "../../styles/mixins";

.category {
  max-width: 1160px;
  margin: 40px auto;
}

.categoryHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  h2 {
    margin: 0;
    @include manrepoFont(600, 34px, 130%);
  }
}

.categoryWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.categoryCard {
  text-decoration: none;
  color: $grayBlack;
  display: flex;
  flex-direction: column;
  max-width: 180px;
  height: 180px;
  text-align: center;
  background-color: #F6F6F6;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
}
