@import "../../../styles/variables";
@import "../../../styles/mixins";

.card {
  border: 1px solid $borderColor;
  display: flex;
  max-width: 572px;
  height: 208px;
  position: relative;


  .cardImage {
    img {
      max-width: 572px;
      height: 208px;
    }
  }

  .cardDiscountBadge {
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 2px 4px;
    display: flex;
    border: 2px solid #FBE303;

    p {
      margin: 0;
      @include manrepoFont(500, 15px, 145%);
      color: $black;
    }
  }

  .cardInfo {
    border-left: 1px solid $borderColor;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 292px;
    width: 100%;

    a {
      @include manrepoFont(500, 16px, 150%);
      text-decoration: none;
      color: $grayBlack;
    }
    .cardPrice {
      display: flex;
      gap: 8px;

      h2 {
        margin: 0;
      }
      p {
        margin: 0;
        align-self: flex-end;
        text-decoration: line-through;
        color: $lineThrough;
      }
    }
    button {
      width: 100%;
    }
  }
}