@import "../../../styles/variables";
@import "../../../styles/mixins";

.card {
  border: 1px solid $borderColor;
  display: flex;
  max-width: 572px;
  height: 208px;
  position: relative;


  .cardImage {
    img {
      max-width: 572px;
      height: 208px;
      box-sizing: border-box;
    }
  }

  .cardDiscountBadge {
    box-sizing: border-box;
    background-color: white;
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 2px 4px;
    display: flex;
    border: 2px solid #FBE303;

    p {
      margin: 0;
      @include manrepoFont(500, 15px, 145%);
      color: $black;
    }
  }

  .cardInfo {
    border-left: 1px solid $borderColor;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      @include manrepoFont(500, 16px, 150%);
      text-decoration: none;
      color: $grayBlack;
    }
    .cardPrice {
      display: flex;
      gap: 8px;

      h2 {
        margin: 0;
      }
      p {
        margin: 0;
        align-self: flex-end;
        text-decoration: line-through;
        color: $lineThrough;
      }
    }
    button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .card {
    flex-direction: column;
    max-width: 278px;
    height: 416px;

    .cardInfo {
      border-left: none;
      border-top: 1px solid $borderColor;
      height: 100%;

      a {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}