@import "../../../styles/variables";
@import "../../../styles/mixins";

.upperHeader {
  padding: 0 140px;
  background-color: $grayWhite;
  display: flex;
  justify-content: space-between;

  .location {
    .locationButton {
      display: flex;
      gap: 10px;
      align-items: center;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover svg {
        path {
          stroke: $grayBlack;
        }
      }

      &:hover p {
        color: $grayBlack;
      }

      p {
        color: $upperHeaderTextColor;
        @include manrepoFont(500, 15, 145%);

      }
    }
  }

  .links {
    display: flex;
    gap: 24px;
    align-items: center;

    a {
      text-decoration: none;
      color: $upperHeaderTextColor;
      @include manrepoFont(500, 15, 145%);

      &:hover {
        color: $grayBlack;
      }
    }
  }
}

.modal__cityList {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  list-style-type: none;
  column-gap: 36px;
  row-gap: 16px;
  align-items: center;

  svg {
    display: none;
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    @include manrepoFont(500, 16px, 150%);
    color: $grayBlack;

    &:hover  {
      svg {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .upperHeader {
    padding: 0 90px;
  }
}

@media screen and (max-width: 740px) {
  .upperHeader {
    display: none;
  }
}