// color vars
$orange: #FBE303;
$yellow: #FCEC41;
$black: #171B24;
$grayBlack: #2F323A;
$white: #FFFFFF;
$grayWhite: #F6F6F6;
$lightGray: #D1D1D3;
$upperHeaderTextColor: #5D6066;
$lowerHeaderTextColor: #454950;
$borderColor: #E8E9EA;
$lineThrough: #8B8D92;

//width vars
$desktop: 1440px;
$bigTablet: 1024px;
$tablet: 768px;
$mobile: 360px;