@import "../../styles/variables";
@import "../../styles/mixins";

.modalContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(23, 27, 36, 0.6);

  .modal {
    display: flex;
    flex-direction: column;
    padding: 36px;
    width: 572px;
    background: white;


    h1 {
      text-align: center;
    }

    .citys {
      margin-top: 24px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      list-style-type: none;
      column-gap: 36px;
      row-gap: 16px;
      align-items: center;

      svg {
        display: none;
      }
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        @include manrepoFont(500, 16px, 150%);
        color: $grayBlack;

        &:hover  {
          svg {
            display: flex;
          }
        }
      }
    }

  }

  .closeIcon {
    cursor: pointer;
    position: absolute;
    top: 33px;
    right: 33px;
    border: none;
    background: transparent;

    svg {
      path {
        stroke: $white;
      }
    }
  }
}