@import "../../styles/mixins";
@import "../../styles/variables";

.header {
  .headerContainer {
    .upperHeader {
      padding: 0 140px;
      background-color: $grayWhite;
      display: flex;
      justify-content: space-between;

      .location {
        .locationButton {
          display: flex;
          gap: 10px;
          align-items: center;
          border: none;
          background-color: transparent;
          cursor: pointer;

          &:hover svg {
            path {
              stroke: $grayBlack;
            }
          }

          &:hover p {
            color: $grayBlack;
          }

          p {
            color: $upperHeaderTextColor;
            @include manrepoFont(500, 15, 145%);

          }
        }

      }

      .links {
        display: flex;
        gap: 24px;
        align-items: center;

        a {
          text-decoration: none;
          color: $upperHeaderTextColor;
          @include manrepoFont(500, 15, 145%);

          &:hover {
            color: $grayBlack;
          }
        }
      }
    }


    .middleHeader {
      padding: 0 140px;
      margin: 20px 0;
      max-height: 48px;
      display: flex;
      justify-content: space-between;

      .logo {
        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }

      .rightSide {
        display: flex;
        gap: 16px;
      }

      .menuAndSearch {
        gap: 16px;
        display: flex;
        align-items: center;

        input {
          width: 444px;
        }
      }

      .buttonBar {
        display: flex;
        align-items: center;
        button {
          cursor: pointer;
          border: none;
          background-color: transparent;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}